.hero {
  min-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 4rem;
  padding: 5rem 8%;
}

.hero-content {
  flex: 1;
}

.hero-tag {
  background: #dbeafe;
  color: #2563eb;

  padding: .5rem 1rem;
  border-radius: 20px;
}

.hero-content h1 {
  font-size: 4rem;
  margin: 1.5rem 0;
  color: #0f172a;
}

.hero-content p {
  font-size: 1.1rem;
  color: #64748b;
  line-height: 1.8;
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.primary-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 1rem 1.8rem;
  border-radius: 10px;
}

.secondary-btn {
  background: white;
  border: 1px solid #cbd5e1;
  padding: 1rem 1.8rem;
  border-radius: 10px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
}

@media(max-width:768px){

  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero-content h1{
    font-size:2.7rem;
  }

  .hero-buttons{
    justify-content:center;
  }
}