.footer {
  background: #0f172a;
  color: white;

  padding-top: 5rem;
}

.footer-container {
  width: 84%;
  margin: auto;

  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(200px, 1fr));

  gap: 3rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 1rem;
}

.footer-logo-box {
  width: 60px;
  height: 60px;

  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  font-size: 10px;
}

.footer-column p,
.footer-column a {
  color: #cbd5e1;
  text-decoration: none;
  display: flex;
  margin-bottom: 10px;
}

.footer-column h4 {
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;

  margin-top: 4rem;

  padding: 1.5rem;

  border-top: 1px solid #334155;
}